@import "assets/sass/utils/variables";
@import "assets/sass/utils/helpers";

@import "../node_modules/bootstrap/scss/bootstrap.scss";

@import "assets/sass/components/buttons";
@import "assets/sass/components/headers";
@import "assets/sass/components/forms";

@import "assets/sass/base/typography";

* {
  font-family: "Tajawal";
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

html,
body {
  display: block;
  overflow-x: hidden;
}
